.advertisement-comp{
    height: 300px;
}

.advertisement-comp>img{
    width: 100%;
    height: 100%;
}

.carousel .control-dots .dot {
    background: red !important;
    border-radius: 5px !important;
    width: 15px !important;
    height: 7px !important;
    cursor: pointer;
    display: inline-block;
    margin: 0 8px;
}