.queselectauto-wrapper{
    width: 82% !important;
    position: absolute;
    top: 30px;
    left: 0px;
    margin-left: 35px;
    margin-top: 30px;

    background: #fff;
    height: 80vh;
    padding: 20px;
}

.queselectauto-head{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6,1fr);
    background-color: #f1f6fc;
    font-size: 14px;
    height: 45px;
    padding-inline: 10px;
    border-radius: 6px;
    margin-block: 20px;
}

.queselectauto-content{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6,1fr);
    background-color: #f1f6fc;
    font-size: 14px;
    height: 45px;
    padding-inline: 10px;
    border-radius: 6px;
    margin-block: 15px;
}

.queselectauto-content>button{
    height: 30px;
    width: 120px;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 4px  rgba(0,0,0,0.4);
    cursor: pointer;
}




.singleautojoin-barber-quebarber-wrapper{
    width: 95% !important;
    position: absolute;
    top: 30px;
    left: 0px;
    margin-top: 30px;
    margin-left: 50px;
    background: #fff;
    height: auto;
    padding: 20px;
}

.header-bbr{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5,1fr);
    background-color: #f1f6fc;
    font-size: 14px;
    height: 45px;
    padding-inline: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.content-bbr{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5,1fr);
    background-color: #f1f6fc;
    font-size: 14px;
    height: 45px;
    padding-inline: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    cursor: pointer;
}

.quebarber-wrapper>div:nth-child(1){
    display: flex;
    justify-content: flex-end;
    height: 40px;
    margin-bottom: 20px;
}

.quebarber-wrapper>div:nth-child(1)>input{
    margin-right: 10px;
    padding-inline: 10px;
    border: none;
    border: 1px solid rgba(0,0,0,0.4);
}
.quebarber-wrapper>div:nth-child(1)>button{
    width: 40px;
    background-color: #f1f6fc;
    border: none;
    outline: none;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
    cursor: pointer;
}






.barber-single-join{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 10px;
}

.barber-single-join>div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.barber-single-join>div>input{
    height: 35px;
    padding-inline: 10px;
    background-color: #f1f6fc;
    border: none;
    border-radius: 4px;
}

.barber-single-join-dropdown{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
}

.barber-single-join-dropdown-list{
    height: 180px;
    background-color: #f1f6fc;
    padding: 10px;
    border-radius: 6px;
    overflow-y: scroll;
}

.barber-single-join-content-bbr{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5,1fr);
    background-color: #fff;
    font-size: 14px;
    padding-inline: 10px;
    border-radius: 6px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

/* GROUP JOIN CSS DONE HERE START*/
.barber-single-join-quebarberserv-content-ggp{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6,1fr) !important;
    background-color: #fff;
    font-size: 14px;
    padding-inline: 10px;
    border-radius: 6px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

.barber-single-join-quebarberserv-content-ggp>p{
    padding-block: 10px;
}

/* GROUP JOIN CSS DONE END HERE */

.barber-single-join-content-bbr>p{
    padding-block: 10px;
}

.barber-single-join-quebarberserv-content{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5,1fr);
    background-color: #fff;
    font-size: 14px;
    padding-inline: 10px;
    border-radius: 6px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

.barber-single-join-quebarberserv-content>p{
    padding-block: 10px;
}

.barber-single-join-services{
    height: 180px;
    background-color: #f1f6fc;
    padding: 10px;
    border-radius: 6px;
    overflow-y: scroll;
}

.barber-single-join>button{
    background-color: #f1f6fc;
    height: 35px;
    border: none;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
    border-radius: 5px;
    width: 150px;
    cursor: pointer;
}

.barber-single-join>button:hover{
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}



.join-queue-list-div{
    display: grid;
    grid-template-columns: repeat(2,1fr) !important;
}
